.jackpot-color {
   border-color: #b36d05 !important;
}

.result-numbers {
   margin-bottom: 2rem;
   margin-top: 1rem;
}

.result-numbers ul {
   padding-inline-start: 1.5rem;
}

.result-numbers-list li {
   display: inline-block;
   font-size: 17px;
   line-height: 35px;
   text-align: center;
   border: 2px solid black;
   border-radius: 50%;
   margin-right: 7px;
   margin-bottom: 7px;
   width: 35px;
   height: 35px;
}
