.header-container {
   display: flex;
   justify-content: space-between;
   margin-top: 3rem;
}

.header-title {
   font-size: 21px;
   line-height: 24px;
   font-weight: 900;
   text-transform: uppercase;
}

.date-picker-container {

}
